{% extends 'core/base.html' %}
{% block title %}Forgot Password{% endblock %}
{% block content %}
  <div class="w-1/2 my-6 p-6 mx-auto bg-gray-100 rounded-xl">
    <h1 class="text-2xl mb-4">Forgot Password?</h1>
    <p class="mb-4">Enter your email address and we'll send you a link to reset your password.</p>

    <form method="post">
      {% csrf_token %}
      {{ form.email.label_tag }}
      {{ form.email }}

      <button type="submit" class="mt-4 py-2 px-6 bg-blue-600 text-white rounded hover:bg-blue-700">
        Send Reset Link
      </button>
    </form>
  </div>
{% endblock %}
